@page "/orders"
@inject IGetOrdersUseCase GetOrdersUseCase
<PageTitle>Orders</PageTitle>

<h1>Orders</h1>


<Grid TItem="Order"
      Class="table table-hover table-bordered table-striped"
      DataProvider="OrdersDataProvider"
      AllowFiltering="false"
      AllowPaging="false"
      AllowSorting="false"
      Responsive="true">

    <GridColumn TItem="Order" HeaderText="Id" PropertyName="Id" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Order" HeaderText="UserId" PropertyName="UserId" SortString="UserId">
        @context.UserId
    </GridColumn>
    <GridColumn TItem="Order" HeaderText="FirstName" PropertyName="FirstName">
        @context.FirstName
    </GridColumn>
    <GridColumn TItem="Order" HeaderText="LastName" PropertyName="LastName">
        @context.LastName
    </GridColumn>
    <GridColumn TItem="Order" HeaderText="Total" PropertyName="Total">
        @context.Total
    </GridColumn>
    <GridColumn TItem="Order" HeaderText="TransactionStatus" PropertyName="TransactionStatus">
        @context.TransactionStatus
    </GridColumn>
    <GridColumn TItem="Order" HeaderText="CreateDate" PropertyName="CreateDate">
        @context.CreateDate
    </GridColumn>
    <GridColumn TItem="Order" HeaderText="Actions">
        <a href="@($"/Orders/details/{context.Id}")" class="btn btn-sm btn-info me-1">Details</a>
        <a href="@($"/Orders/edit/{context.Id}")" class="btn btn-sm btn-warning me-1">Edit</a>
        <a href="@($"/Orders/delete/{context.Id}")" class="btn btn-sm btn-warning me-1">Delete</a>
    </GridColumn>
</Grid>


@code {

    

    private async Task<GridDataProviderResult<Order>> OrdersDataProvider(GridDataProviderRequest<Order> request)
    {
        var orders = await GetOrdersUseCase.ExecuteAsync();
        return await Task.FromResult(new GridDataProviderResult<Order> { Data = orders, TotalCount = orders.Count() });
    }

}

