@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IGetSettingsUseCase GetSettingsUseCase

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>niloofarpahlevan.com </title>
    <meta name="description" content="OnlineShop Blazor Website" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="assets/img/logo/lotus2.png" type="image/png">
    <link rel="canonical" href="http://shop.niloofarpahlevan.com" />

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <!-- <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Uthr – Fashion eCommerce HTML Template" />
    <meta property="og:url" content="PAGE_URL" />
    <meta property="og:site_name" content="SITE_NAME" /> -->
    <!-- For the og:image content, replace the # with a link of an image -->
    <!-- <meta property="og:image" content="#" />
    <meta property="og:description"
        content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." /> -->
    <!-- Add site Favicon -->
    <link rel="icon" href="assets/img/logo/lotus2.png" type="image/png" />

    @*    <link rel="icon" href="../wwwroot/assets/img/logo/lotus2.png" sizes="32x32" />
    <link rel="icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-192x192.png"
          sizes="192x192" />
    <link rel="apple-touch-icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage"
          content="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-270x270.png" /> *@

    <!-- CSS
    ========================= -->
    <!-- Structured Data  -->


</head>


<!--offcanvas menu area start-->
<div class="body_overlay" onclick="canvas_close()">
</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close" onclick="canvas_close()">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    @*    <div class="header_contact_info">
                        <ul class="d-flex">
                            <li class="text-white">
                                <i class="icons icon-phone"></i> <a href="tel:@MySettings.Phone">
                                    @MySettings.Phone
                                </a>
                            </li>
                            <li class="text-white">
                                <i class="icon-envelope-letter icons"></i>
                                <a href="#">@MySettings.Email</a>
                            </li>
                        </ul>
                    </div> *@
                    @* <div class="header_social d-flex">
                        <span>Follow us</span>
                        <ul class="d-flex">
                            <li><a href="@MySettings.Twitter"><i class="icon-social-twitter icons"></i></a></li>
                            <li><a href="@MySettings.FaceBook"><i class="icon-social-facebook icons"></i></a></li>
                            <li><a href="@MySettings.Instagram"><i class="icon-social-instagram icons"></i></a></li>
                            <li><a href="@MySettings.Youtube"><i class="icon-social-youtube icons"></i></a></li>
                        </ul>
                    </div> *@
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">

                            <li>
                                <a href="/">خانه</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->
<!--mini cart-->
<div class="mini_cart">
    <div class="cart_gallery">
        <div class="cart_close">
            <div class="cart_text">
                <h3>cart</h3>
            </div>
            <div class="mini_cart_close">
                <a href="javascript:void(0)"><i class="icon-close icons"></i></a>
            </div>
        </div>
        <div class="cart_item">
            <div class="cart_img">
                <a href="#"><img src="assets/img/product/product1.jpg" alt=""></a>
            </div>
            <div class="cart_info">
                <a href="#">Primis In Faucibus</a>
                <p>1 x <span> $65.00 </span></p>
            </div>
            <div class="cart_remove">
                <a href="#"><i class="icon-close icons"></i></a>
            </div>
        </div>
        <div class="cart_item">
            <div class="cart_img">
                <a href="#"><img src="assets/img/product/product2.jpg" alt=""></a>
            </div>
            <div class="cart_info">
                <a href="#">Letraset Sheets</a>
                <p>1 x <span> $60.00 </span></p>
            </div>
            <div class="cart_remove">
                <a href="#"><i class="icon-close icons"></i></a>
            </div>
        </div>
    </div>
    <div class="mini_cart_table">
        <div class="cart_table_border">
            <div class="cart_total">
                <span>Sub total:</span>
                <span class="price">$125.00</span>
            </div>
            <div class="cart_total mt-10">
                <span>total:</span>
                <span class="price">$125.00</span>
            </div>
        </div>
    </div>
    <div class="mini_cart_footer">
        <div class="cart_button">
            <a href="/cart"><i class="fa fa-shopping-cart"></i> View cart</a>
        </div>
        <div class="cart_button">
            <a href="/checkout"><i class="fa fa-sign-in"></i> Checkout</a>
        </div>
    </div>
</div>
<!--mini cart end-->
<!--header area start-->
<header class="header_section header_transparent">
    @* <div class="header_top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header_top_inner d-flex justify-content-between align-items-center">
                        <div class="header_contact_info">
                            <ul class="d-flex">
                                <li class="text-white">
                                    <i class="icons icon-phone"></i> <a href="tel:@MySettings.Phone">@MySettings.Phone</a>
                                </li>
                                <li class="text-white">
                                    <i class="icon-envelope-letter icons"></i> <a href="#">@MySettings.Email</a>
                                </li>
                            </ul>
                        </div>
                        <div class="free_shipping_text">
                            <p class="text-white">
                              @*   Free shipping worldwide for orders over $99 <a href="#">
                                    Learn
                                    More
                                </a>
                            </p>
                        </div>
                        <div class="header_top_sidebar d-flex align-items-center">
                            <div class="header_social d-flex">
                                <span>Follow us</span>
                                <ul class="d-flex">
                                    <li><a href="@MySettings.Twitter"><i class="icon-social-twitter icons"></i></a></li>
                                    <li><a href="@MySettings.FaceBook"><i class="icon-social-facebook icons"></i></a></li>
                                    <li><a href="@MySettings.Instagram"><i class="icon-social-instagram icons"></i></a></li>
                                    <li><a href="@MySettings.Youtube"><i class="icon-social-youtube icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="language_currency">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    *@
    <div class="main_header" style="background-color:#f1f1f1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header_container d-flex justify-content-between align-items-center">
                        <div class="header_logo">
                            @* <div style="background-color:beige;padding:1rem;">
                                Planner Shop
                            </div> *@
                            <a class="sticky_none" href="/"><img src="/images/@MySettings.Logo" alt=""></a>
                        </div>

                        <!--main menu start-->
                        @*  <div class="main_menu d-none d-lg-block">
                            <nav>
                                <ul class="d-flex">

                                    <li>
                                        <a href="/">خانه</a>
                                    </li>

                                </ul>
                            </nav>
                        </div> *@
                        <div class="canvas_open" onclick="canvas_open()">
                            <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                        </div>
                        <div class="header_account">
                            <ul class="d-flex">
                                @* <li class="header_search"><a><i class="icon-magnifier icons"></i></a></li> *@
                                <li class="shopping_cart">
                                    <a href="/cart"><i class="icon-basket-loaded icons"></i></a>
                                </li>
                                <li class="account_link">
                                    @* <OnlineShopBlazor.Components.Pages.Common.UserMenuComponent /> *@

                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page search box -->
    <div class="page_search_box">
        <div class="search_close">
            <i class="ion-close-round"></i>
        </div>
        @* <OnlineShopBlazor.Components.Pages.Common.Search /> *@
    </div>

</header>

@Body
<!--header area end-->
<!--slider area start-->
<!--slider area end-->
<!--shipping section start-->
<!--shipping section end-->
<!-- banner section start -->
<!-- banner section end -->
<!-- product section start -->
<!-- product section end -->
<!-- banner section start -->
<!-- banner section end -->
<!-- product section start -->
<!-- product section end -->
<!-- blog section start -->
<!-- blog section end -->
<!-- instagram section start -->
<!-- instagram section end -->
<!--newsletter section start-->
<!--newsletter section end-->
<!--footer area start-->
<footer class="footer_widgets" style="background-color:#f1f1f1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="footer_widget_list">
                    <div class="footer_logo">
                        <a href="#"><img src="/images/@MySettings.Logo" alt=""></a>
                    </div>
                    <div class="footer_contact">
                        @* <div class="footer_contact_list">
                            <span>Our Location</span>
                            <p>@MySettings.Address</p>
                        </div> *@
                        @* <div class="footer_contact_list">
                            <span>24/7 hotline:</span>
                            <a href="tel:@MySettings.Phone">@MySettings.Phone</a>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="footer_widget_list text-right">
                    <div class="footer_menu">
                    </div>

                    <div class="copyright_right">
                        <p>@MySettings.CopyRight</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->
<!-- modal area start-->
<!-- modal area end-->
<!-- JS
============================================ -->
@code {

    private Setting? MySettings { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            MySettings = await GetSettingsUseCase.ExecuteAsync();
        }
        catch
        {
            MySettings = new Setting
            {
                Title = "Test",
                Address = "",
                CopyRight = "@copyright",
                FaceBook = "facebook.com",
                Email = "myshop@gmail.com",
                Instagram = "instagram.com",
                GooglePlus = "google.com",
                Logo = "",
                Phone = "(+1)00000000",
                Shipping = 0,
                Twitter = "Twitter.com",
                Youtube = "youtube.com"
            };
        }
    }

}

