@page "/banners"
@inject IGetBannersUseCase GetBannersUseCase;
<Grid TItem="Banner"
      Class="table table-hover table-bordered table-striped"
      DataProvider="BannersDataProvider"
      AllowFiltering="false"
      AllowPaging="false"
      AllowSorting="false"
      Responsive="true">

    <GridColumn TItem="Banner" HeaderText="Id" PropertyName="Id" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Banner" HeaderText="Title" PropertyName="Title" SortString="Title" >
        @context.Title
    </GridColumn>
    <GridColumn  TItem="Banner" HeaderText="SubTitle" PropertyName="SubTitle">
        @context.SubTitle
    </GridColumn>
    <GridColumn  TItem="Banner" HeaderText="ImageName" PropertyName="ImageName">
        @context.ImageName
    </GridColumn>
    <GridColumn   TItem="Banner" HeaderText="Priority" PropertyName="Priority">
        @context.Priority
    </GridColumn>
    <GridColumn TItem="Banner" HeaderText="Link" PropertyName="Link">
        @context.Link
    </GridColumn>
    <GridColumn TItem="Banner" HeaderText="Position" PropertyName="Position">
        @context.Position
    </GridColumn>
    <GridColumn TItem="Banner" HeaderText="Actions">
        <a href="@($"/banners/details/{context.Id}")" class="btn btn-sm btn-info me-1">Details</a>
        <a href="@($"/banners/edit/{context.Id}")" class="btn btn-sm btn-warning me-1">Edit</a>
        <a href="@($"/banners/delete/{context.Id}")" class="btn btn-sm btn-warning me-1">Delete</a>
    </GridColumn>


</Grid>

@code {
    private async Task<GridDataProviderResult<Banner>> BannersDataProvider(GridDataProviderRequest<Banner> request)
    {
        var banners = await GetBannersUseCase.ExecuteAsync();
        return await Task.FromResult(new GridDataProviderResult<Banner> { Data = banners, TotalCount = banners.Count() });
    }
}
